*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
    background-color: #FBDAEA;
}
ul,nav{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding: 35px 100px 0;
}
header nav{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
header nav li{
    margin:0 15px;
}
header nav li:first-child{
    margin-left: 0;
}
header nav li:last-child{
    margin-right: 0;
}
@media (max-width: 1000px){
    header{
        padding: 20px 50px;
    }
}
@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    header h4{
        margin-bottom: 15px;
    }
    header nav li{
        margin: 0 7px;
    }
    .no{
        display: none;
    }
}
.mydiv{
    border-bottom: solid;
    border-color: black;
}

/*hi area*/
section{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 30px;
    padding: 110px 100px;
    font-size: 30pt;
}
section .p{
    margin-top: 80px;
    font-size: 15px;
}
section .p-2{
    font-size: 15px;
    color:  #5B6066;
}
.area{
    display: grid;
    grid-template-columns: 1050px 100px;
}
.icon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.img-icon{
    margin-top: 80px;
    width: 10px;
}
@media (max-width: 1000px){
    section{
        padding: 100px 50px;
    }
}
@media (max-width: 600px){
    section{
        padding: 125px 30px;
    }
}
@media (max-width: 800px){
    .hi-area{
        min-height: 200px;
    }
    .hi-area h1{
        font-size: 25pt;
    }
    section .p{
        margin-top: 40px;
    }
    .area{
    display: grid;
    grid-template-columns: 300px 100px;
    grid-gap: 20px;
    }
    .img-icon{
        display: none;
    }
}

/*about area*/
ul.about-content{
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: justify;
}
.about-right{
    font-size: 10pt;
    align-content: right;
    width: 150px;
    margin-top: 80px;
}
.about-left{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#pict-1{
    width: 350px;
    height: 250px;
}
#pict-2{
    margin-top: 80px;
    width: 290px;
    height: 190px;
}
.p-about, .p2-about{
    margin-top: 30px;
}
@media (max-width: 1000px){
    section{
        padding: 100px 50px;
    }
}
@media (max-width: 800px){
    section{
        padding: 125px 30px;
    }
}
@media (max-width: 600px){
    .about-left{
        display: grid;
        grid-template-columns: 1fr;
    }
    #pict-1{
        width: 400px;
        height: 280px;
    }
    #pict-2{
        width: 400px;
        height: 280px;
    }
    .about-right{
        font-size: 17pt;
        width: 100%;
    }
}

/*experience area*/
.experience h3{
    text-align: center;
    margin-bottom: 40px;
}
.div-experience{
    display: grid;
    grid-template-columns: 400px 750px;
}
#list {
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-left: 50px;
}
#list ul {
    list-style: none;
    text-align: justify;
    font-family: 'Rubik', sans-serif;
}
#list ul li {
    float: none;
    font-size: 15px;
}
.span{
    color: grey;
    font-size: 15px;
    margin-left: 20px;
}
.span-2{
    font-weight: bold;
    font-size: 20px;
}
.span-3{
    margin-top: 20px;
    line-height: 40px;
}
.time-list {
    float: left;
}
.time-list ul {
    list-style: none;
    text-align: left;
    margin-left:80px;
    margin-top: 37px;
    font-family: 'Rubik', sans-serif;
}
.time-list ul li {
    float: none;
    font-size: 15px;
    color: #525252;
}
.li-time-1{
    line-height: 225px;
}
.li-time-2{
    line-height: 20px;
}
.li-time-3{
    line-height: 220px;
}
#infinity{
    padding-top: 60px;
}
.down-list{
    width: 15px;
    float: right;
    margin-right: 330px;
}
#down-list{
    margin-top: 70px;
}
@media (max-width: 1000px){
    section{
        padding: 100px 50px;
    }
}
@media (max-width: 800px){
    section{
        padding: 125px 30px;
    }
}
@media (max-width: 600px){
    .div-experience{
    display: grid;
    grid-template-columns: 85px 320px;
    }
    .time-list{
        margin-left: 10px;
    }
    #list {
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-left: 30px;
}
#list ul {
    list-style: none;
    text-align: justify;
    font-family: 'Rubik', sans-serif;
}
#list ul li {
    float: none;
    font-size: 15px;
}
.span{
    color: grey;
    font-size: 15px;
    margin-left: 20px;
}
.span-2{
    font-weight: bold;
    font-size: 15px;
}
.span-3{
    margin-top: 10px;
    line-height: 10px;
}
.time-list {
    float: left;
}
.time-list ul {
    list-style: none;
    text-align: left;
    margin-left: 0px;
    margin-top: 3px;
    font-family: 'Rubik', sans-serif;
}
.time-list ul li {
    float: none;
    font-size: 15px;
    color: #525252;
}
.li-time-1{
    margin-top: 42px;
    line-height: 25px;
}
.li-time-2{
    margin-top: 17px;
    line-height: 20px;
}
.li-time-3{
    margin-top: 30px;
    line-height: 20px;
}
#infinity{
    padding-top: 30px;
}
.down-list{
    display: none;
}
#down-list{
    margin-top: 70px;
}
}

/*download area*/
#download{
    display: grid;
    grid-template-columns: 700px 200px;
}
#pict-3{
    width: 500px;
    height: 300px;
    display: block;
    margin-left: 200px;
    margin-right: auto;
    margin-top: 30px;
}
.ket-download{
    font-size: 15px;
    float: right;
    padding-right: 60px;
    padding-top: 60px;
    line-height: 15px;
    font-weight: bold;
    background-color: white;
    text-align: center;
    height: 250px;
}
.span-download{
    font-size: 10px;
    line-height: 8px;
    padding-top: 20px;
}
.button{
    background-color: blue;
    color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    padding: 10px 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 11pt;
    border-radius: 40%;
    float: center;
}
@media (max-width: 1000px){
    section{
        padding: 100px 50px;
    }
}
@media (max-width: 800px){
    section{
        padding: 125px 30px;
    }
}
@media (max-width: 600px){
    #download{
        display: grid;
        grid-template-columns: 1fr;
    }
    #pict-3{
        width: 400px;
        height: 200px;
        display: block;
        margin-left: 20px;
    }
    .ket-download{
        padding-right: 30px;
        padding-top: 30px;
        height: 120px;
        margin-left: 20px;
    }
}

/*skills area*/
.img-skills{
    width: 50px;
    margin-bottom: 10px;
}
.skills-area h3{
    text-align: center;
    margin-bottom: 60px;
}
.skills-content{
    font-size: 20px;
}
ul.skills-content{
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skills-content li{
    padding: 0 30px;
    flex-basis: 33%;
    text-align: left;
}
.skills-list{
    margin-top: 20px;
}
.skills-list li{
    list-style-type: upper-greek;
}
@media (max-width: 1000px){
    .skills-content li{
        flex-basis: 100%;
        margin-bottom: 65px;
    }
    .skills-content li:last-child{
        margin-bottom: 0;
    }
    .skills-content li p{
        padding: 0;
    }
}

/*experience area*/
.i-like{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 300px 900px;
    grid-gap: 10px;
}
.i-like ul{
    list-style: none;
    margin-left: 170px;
}
.i-like ul li{
    margin-bottom: 120px;
}
.check-experience{
    width: 60px;
    margin-bottom: 30px;
    margin-left: 50px;
}
.list-1{
    font-size: 20px;
}
@media (max-width: 1000px){
    section{
        padding: 100px 50px;
    }
}
@media (max-width: 800px){
    section{
        padding: 125px 30px;
    }
}
@media (max-width: 600px){
    .i-like{
        display: grid;
        grid-template-columns: 100px 400px;
    }
    .i-like ul{
        margin-left: 0px;
    }
    .check-experience{
        width: 40px;
    }
    .my-experience{
        font-size: 30px;
    }
}

/*contact area*/
.contact{
    background: url('assets/images/pict-5.jpg');
    background-size: 100%;
    background-position: 0 250px;
    background-repeat: no-repeat;
    margin-left: 50px;
    margin-right: 50px;
}
.pict-4{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
}
.contact h3{
    text-align: center;
    margin-bottom: 30px;
}
.contact ul{
    margin-left: 270px;
}
.contact ul li{
    font-size: 35px;
    margin-bottom: 20px;
}
.contact ul li p{
    font-size: 15px;
    color: #808080;
    margin-bottom: 70px;
}
.cont-icon{
    width: 25px;
}
.icon-contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 400px;
    margin-bottom: 10px;
}
.ket-contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 15px;
    width: 400px;
}
@media (max-width: 1000px){
    section{
        padding: 100px 50px;
    }
}
@media (max-width: 800px){
    section{
        padding: 125px 30px;
    }
}
@media (max-width: 600px){
    .pict-4{
        width: 300px;
    }
    .contact{
    background-position: 0 250px;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-size: 500px 500px;
    }
    .contact ul{
        margin-left: 0px;
    }
    .contact ul li{
        font-size: 20px;
        margin-bottom: 20px;
    }
}
